<style>

* {
  box-sizing: border-box;
  background-color:#75EA44;
  
}
.menu {
  float:left;
  width:20%;
  text-align:left-side;
  
}
.menu a {
  background-color:#C0F545;
  padding:8px;
  margin-top:7px;
  display:block;
  width:100%;
  color:black;
  
}
.main {
  float:right;
  width:60%;
  padding: 10px;
  
   
}
.right {
  background-color:#81D83E;
  float:left;
  width:100%;
  padding:15px;
  margin-top:7px;
  text-align:center;
}

@media only screen and (max-width:620px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width:100%;
  }
}
</style>